[Unit]
Description=back end server file
Requires=network-online.target
Requires=mysql.service
Requires=rabbitmq-server.service
After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/home/tricia/script.sh

[Install]
WantedBy=multi-user.target
