[Unit]
Description=back end server file
Requires=network-online.target
Requires=mysql.service
Requires=rabbitmq-server.service
After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/usr/bin/php /home/tricia/git/simvest/back-end/testRabbitMQServer.php

[Install]
WantedBy=multi-user.target
