[Unit]
Description=rmq log server
Requires=network-online.target
After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/usr/bin/php /home/tricia/git/simvest/back-end/logServer.php

[Install]
WantedBy=multi-user.target
